.heroSection {
  position: relative;

  height: 100vh;

  z-index: 0;
  background-color: var(--common-100);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heroSection::after {
  z-index: 1;
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.heroSection > * {
  z-index: 2;
}

.heroSectionWrapper {
  background-color: #000000;
}

.letterAnimationGroup {
  position: relative;
	margin: 0 var(--spacing-24);
}
.letterAnimationGroup>svg, .letterAnimationGroup>path,
.letterAnimationGroup>.subText>svg, .letterAnimationGroup>.subText>path {
	width: 100%;
}
.letterAnimationGroup>.subText {
	width: 239px;
	@media(max-width: 500px) {
		width: 202px;
	}
}

.subText {
  position: absolute;
	bottom: -32px;
	right: -20px;
	@media (max-width: 500px) {
		bottom: -24px;
		right: -12px;
	}
}

.moreInfoButton {
  border-radius: var(--radius-8);
  position: absolute;
  bottom: 56px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
}

.bgReady {
  /*animation: fadeIn 0.24s ease-in-out forwards;*/
  animation: fadeIn 0.16s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
