@import '@material-symbols/font-300';

/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

/*html,*/
/*body {*/
/*  max-width: 100vw;*/
/*  overflow-x: hidden;*/
/*}*/

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*}*/



* {
	font-family: 'Pretendard', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	position: relative;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
}

:root {
	--common-00: #FCFDFF;
	--common-4: rgba(252, 253, 255, 0.04);
	--common-10: rgba(252, 253, 255, 0.9);
	--common-50: rgba(24, 25, 26, 0.6);
	--common-60: rgba(24, 25, 26, 0.7);
	--common-100: #18191A;

	--neutral-00: var(--common-00);
	--neutral-10: #F7F8FA;
	--neutral-20: #ECEFF5;
	--neutral-30: #D4DAE5;
	--neutral-40: #A3A8B2;
	--neutral-60: #9BA0A8;
	--neutral-70: #5D6066;
	--neutral-80: #333438;
	--neutral-90: #252629;
	--neutral-95: #212224;
	--neutral-100: var(--common-100);

	--grey-4: rgba(106, 109, 115, 0.04);
	--grey-6: rgba(106, 109, 115, 0.06);
	--grey-13: rgba(106, 109, 115, 0.13);
	--grey-100: var(--neutral-60);

	--red-20: rgba(255, 77, 77, 0.17);
	--red-100: #FF4D4D;
}

:root {
	--state-hover: var(--grey-6);
	--state-press: var(--grey-13);
}

:root {
	--spacing-2: 2px;
	--spacing-4: 4px;
	--spacing-6: 6px;
	--spacing-8: 8px;
	--spacing-10: 10px;
	--spacing-12: 12px;
	--spacing-14: 14px;
	--spacing-16: 16px;
	--spacing-20: 20px;
	--spacing-24: 24px;
	--spacing-32: 32px;
	--spacing-48: 48px;
}

:root {
	--radius-4: 4px;
	--radius-6: 6px;
	--radius-8: 8px;
	--radius-10: 10px;
	--radius-circle: 999px;
}

html.light {
	--brand-default: var(--red-100);
	--brand-translucent: var(--red-20);

	--background-base-default: var(--neutral-00);
	--background-base-alternative: var(--neutral-10);
	--background-elevated-default: var(--neutral-00);
	--background-elevated-alternative: var(--neutral-10);

	--fill-default: var(--grey-4);
	--fill-alternative: var(--grey-6);
	--fill-interaction: var(--common-10);

	--contents-default: var(--neutral-100);
	--contents-alternative: var(--neutral-70);
	--contents-disable: var(--neutral-60);
	--contents-static-white: var(--neutral-00);
	--contents-static-black: var(--neutral-100);

	--line-default: var(--neutral-30);
	--line-alternative: var(--neutral-20);
}

html.dark {
	--brand-default: var(--red-100);
	--brand-translucent: var(--red-20);

	--background-base-default: var(--neutral-95);
	--background-base-alternative: var(--neutral-100);
	--background-elevated-default: var(--neutral-95);
	--background-elevated-alternative: var(--neutral-90);

	--fill-default: var(--grey-6);
	--fill-alternative: var(--grey-13);
	--fill-interaction: var(--common-4);

	--contents-default: var(--neutral-00);
	--contents-alternative: var(--neutral-60);
	--contents-disable: var(--neutral-70);
	--contents-static-white: var(--neutral-00);
	--contents-static-black: var(--neutral-100);

	--line-default: var(--neutral-80);
	--line-alternative: var(--neutral-90);
}
