.interaction {
	position: relative;
	cursor: pointer;
}

.interaction:before {
	position: absolute;
	inset: 0;
	border-radius: inherit;
	transition: all 0.14s ease-in-out;
	content: "";
}

.interaction:hover:before {
	background-color: var(--state-hover);
}

.interaction:active:before {
	transition-duration: 0s;
	background-color: var(--state-press);
}

.disabled {
	cursor: not-allowed;
	opacity: 0.4;
}
