.container {
  position: fixed;
  top: 0;
  left: 0;
	z-index: 10;

	transition: all 0.24s ease-in-out;

  background-color: transparent;

	padding: var(--spacing-24) var(--spacing-24) 0 var(--spacing-24);
  @media (max-width: 720px) {
	  padding: var(--spacing-24) var(--spacing-16) 0 var(--spacing-24);
  }
	@media(max-width: 440px) {
		padding: var(--spacing-16) var(--spacing-16) 0 var(--spacing-16);
	}
}

.wrapper {
	position: initial;
  max-width: 1100px;
  padding: var(--spacing-12) var(--spacing-24);
	background-color: transparent;
  border-radius: var(--radius-10);
	transition: all 0.24s ease-in-out;
  @media (max-width: 720px) {
    padding: var(--spacing-12) var(--spacing-16);
  }
}

.onBackground {background-color: var(--common-100);}
