.container {
  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;

  padding: var(--spacing-24);
  @media (max-width: 640px) {
    padding: var(--spacing-12) var(--spacing-16) 0 var(--spacing-12);
  }
}

.wrapper {
  max-width: 1100px;
  padding: var(--spacing-12) var(--spacing-24);
  border-radius: var(--radius-10);
  @media (max-width: 640px) {
    padding: var(--spacing-12) var(--spacing-16);
  }
}